.block_spam_deletion {border: 1px; border-color: red;}
.block_spam_delete {text-align: center;}
.block_spam_bold {
    font-weight: bold;
}
.block_spam_highlight {color: red; text-decoration: underline;}